.g-editor {
  border: 1px solid #ddd;
}

.g-editor-controls {
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  padding: 15px;
}

.g-editor-inner {
  padding: 15px;
  position: relative;
}

.g-editor-drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.g-editor-drag-text {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
  height: 1em;
  margin: auto;
}

.g-editor-style-btn {
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
}

.g-editor-style-btn.active {
  color: #fff;
  background-color: #555;
}

.g-ctrl-modal-header {
  padding: 6px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.g-ctrl-modal-body {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.g-ctrl-modal-footer {
  border-top: 1px solid #ddd;
}
.g-ctrl-modal-footer:before {
  content: "";
  display: table;
}
.g-ctrl-modal-footer:after {
  content: "";
  display: table;
  clear: both;
}
.g-ctrl-modal-btn {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  border: none;
  background-color: white;
  padding: 6px;
  text-align: center;
  outline: 0;
  cursor: pointer;
}
.g-ctrl-modal-btn.ok {
  font-weight: bold;
  border-right: 1px solid #ddd;
}

.public-DraftEditor-content {
  min-height: 200px;
}

.public-DraftEditor-content figure {
  margin: 0;
  display: inline-block;
  width: auto;
}